@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Architects+Daughter&family=Kalam&family=Macondo&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

/* olive green #6e702e */
/* burgundy #691717 */
/* neutral #e2cc88 */
/* teal #008080 */
/* gold #7f6921 */

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;;
}

body {
  background-color: rgb(2, 115, 115);
  /* background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 0px, transparent 2px); */
  background-image: url('./assets/concrete-wall-2-1920x1080.png');
  background-size: cover;
  background-attachment: fixed; 
  overflow-x: hidden;
}

.app {
  z-index: -5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
  padding-top: 10px;
  gap: 4rem;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 0.85rem;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px 10px 10px;
  height: 50px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  position: sticky;
  width: 100%;
  background-color: black;
  color: ivory;
  top: 0;
  z-index: 6;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: ivory;
}

.logo {
  position: absolute;
  left: 80px;
  margin-top: 10px;
  font-size: larger;
  font-weight: 700;
}

.nav-text {
  margin-right: 30px;
}

.nav-text:hover, #upload:hover {
  color: rgb(207, 195, 195);
  cursor: pointer;
}

/* DROPDOWN */

.dropdown {
  display: block;
  position: absolute;
  top: 4.4rem;
  right: 2rem;
}

#profilePic {
  width: 2rem;
  border-radius: 10rem;  
  height: 2rem;
}

#profilePic:hover {
  cursor: pointer;
  border: ivory 2px solid;
}

/* FORM */

.container {
  padding: 20px;
  position: relative;
  top: 60px;
  margin: 10px;
}

.form-close {
  color: black;
  position: relative;
  top: 0;
  left: 31rem;
}

#upload {

  color: ivory;
  font-size: larger;
}

.form-container {
  height: 70%;
  width: 33%;
  position: absolute;
  left: 33.5%;
  top: 10%;
  margin-top: 5%;
}

.form {
  width: 100%;
  border: 3px solid rgb(107, 95, 24);
  border-radius: 5px;
  background-color: rgb(255, 255, 240);
}

.form-title, .form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgb(107, 95, 24);
}

.form-header {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgb(255, 255, 240);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid rgb(107, 95, 24);
  border-top: 3px solid rgb(107, 95, 24);
}

.form-body {
  margin-top: 15%;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* FORM INPUTS */

.input-image, .dimensions, .medium, .title, .description, .width, .height, .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 75%;
}

.input-field {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#image-input {
  position: absolute;
  right: -10.5%;
  top: 215%;
}

.buttons {
  width: 100%;
  margin-top: 10px;
}

.clear:hover, .submit:hover {
  background-color: rgba(197, 197, 182, 0.764);
}

.clear {
  position: relative;
  left: 50px;
  width: 30%;
  border: none; 
  text-transform: capitalize;
  background-color: rgb(255, 255, 240);
  border: 4px solid rgb(107, 95, 24);
  border-style: double;
  border-radius: 5px;
  padding: 3px;
  color: rgb(107, 95, 24); 
}

.submit {
  position: relative;
  left: -65px;
  width: 30%;
  height: 30px;
  border: none;
  text-transform: capitalize;
  background-color: rgb(255, 255, 240);
  border: 4px solid rgb(107, 95, 24);
  border-style: double;
  border-radius: 5px;
  padding: 3px;
  color: rgb(107, 95, 24);
}

/* PAINTING DISPLAY */

.painting-container {
  padding: 15px;
  margin: 10px;
  margin-bottom: 30px;
  width: fit-content;
  max-width: 25%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: ivory;
  /* background-color: linear-gradient(to bottom right, transparent, rgba(255, 255, 255, 0.2)); */
  border: 3px solid #808000;
  border-style: inset;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: width 2s, height 4s;

}

.app {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.item-title {
  max-width: 75%;
  /* color: #7f6921; */
  color: #808000;
}


.painting-container:hover {
  background-image: radial-gradient(rgba(250, 241, 177, 0.5), rgba(243, 247, 196, 0.4), rgba(255, 255, 255, 0.3));
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 240, 0.4);
  transform: scale(1.1);
}

.image {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 15px solid black;
  border-style: inset ridge;
  background-color: white;
  margin-top: 20px;
}

.specs {
  padding: 10px;
  margin: 5px;
  font-weight: 600;
  font-size: 0.9rem;
}

.description {
  font-weight: 400;
  font-size: 0.9rem;
}

.item-title {
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
  text-transform: uppercase;
}

#description {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 5%;
}
