@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Architects+Daughter&family=Kalam&family=Macondo&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

/* olive green #6e702e */
/* burgundy #691717 */
/* neutral #e2cc88 */
/* teal #008080 */
/* bg teal #307c70 */
/* gold #7f6921 */

/* FINAL COLOURS */

/* #191923 - black  */
/* ivory */
/* CADF9E - text hover */
/* #e66646 - coral */

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
*::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

body {
  /* background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 0px, transparent 2px); */
  background-image: url('./assets/tealtrial.png');
  background-size: cover;
  background-attachment: fixed; 
  overflow-x: hidden;
}

.app {
  z-index: -5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
  padding-top: 10px;
  gap: 4rem;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 0.85rem;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px 10px 10px;
  height: 50px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  position: sticky;
  width: 100%;
  background-color: #191923;
  color: ivory;
  top: 0;
  z-index: 6;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
}

.links {
  position: relative;
  right: 3.8rem;
}

a {
  text-decoration: none;
  color: ivory;
}

.logo {
  position: absolute;
  left: 80px;
  margin-top: 10px;
  font-size: larger;
  font-weight: 700;
}

.nav-text {
  margin-right: 30px;
  font-size: small;
  font-weight: 100;
  letter-spacing: 0.12rem;
}

.nav-text:hover, #upload:hover {
  color: #CADF9E;
  cursor: pointer;
}

/* DROPDOWN */

.dropdown {
  position: absolute;
  top: 4.4rem;
  right: 2rem;
}

#profilePic {
  width: 2rem;
  border-radius: 10rem;  
  height: 2rem;
}

#profilePic:hover {
  cursor: pointer;
  border: ivory 2px solid;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

/* FORM */


.form-close {
  color: #191923;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

#upload {
  color: ivory;
  font-size: larger;
}

.form-container {
  border: 10px solid #191923;
  background-color: white;
}


.form-title, .form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #191923;
}

.form-title {
  font-size: 1.2rem;
  color: #CADF9E;
  color: #CADF9E;
  -webkit-text-stroke-width: 0.5px; 
  -webkit-text-stroke-color: #191923; 
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* FORM INPUTS */

.input-image, .dimensions, .medium, .title, .description, .width, .height, .buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  width: 75%;
  text-transform: uppercase;
  margin-right: 20px;
}

.input-field {
  margin-left: 20px;
}

/* .input-field {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
} */

#image-input {
  position: relative;
  right: -20%;
  top: 215%;
}

.buttons {
  width: 100%;
  margin-top: 10px;
}

.clear:hover, .submit:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.6);
}

.clear {
  position: relative;
  left: 60px;
  width: 30%;
  border: none; 
  text-transform: capitalize;
  background-color: white;
  border: 4px solid #191923;
  border-style: double;
  padding: 3px;
  color: #191923; 
}

.submit {
  position: relative;
  left: -65px;
  width: 30%;
  height: 30px;
  border: none;
  text-transform: capitalize;
  background-color: white;
  border: 4px solid #191923;
  border-style: double;
  padding: 3px;
  color: #191923;
}

/* PAINTING DISPLAY */

.painting-container {
  padding: 15px;
  margin: 10px;
  margin-bottom: 30px;
  width: fit-content;
  max-width: 25%;
  color: #191923;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 240, 0.85);
  filter: brightness(95%);
  /* background-color: linear-gradient(to bottom right, transparent, rgba(255, 255, 255, 0.2)); */
  border: 6px outset #CADF9E;
  border-style: inset;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: width 2s, height 4s;
}

.app {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}



.painting-container:hover {
  /* box-shadow: 0px 0px 20px 10px rgb(243, 119, 72, 0.6); */
  transform: scale(1.1);
  cursor: pointer;
  position: relative;
  filter: brightness(130%);
  /* background-image: radial-gradient(circle at top center, rgba(255, 255, 240, 0.815), #f37648bb, rgba(255, 255, 240, 0.821)); */
}

 /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */

/* .painting-container:hover::backdrop {
  background-image: radial-gradient(circle at top center, rgba(255, 255, 240, 0.697), #f37648a4, rgba(255, 255, 240, 0.67));
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} */

.painting-container:hover::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top center, transparent, rgba(0, 0, 0, 0.6), rgb(0, 0, 0.3), rgb(0, 0, 0.1), rgba(0, 0, 0, 0.6), transparent);
  clip-path: polygon(0% 0%, 50% 0%, 0% 100%);
  z-index: 10; 
  opacity: 0.5;
}

.painting-container:hover::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top center, transparent, rgba(0, 0, 0, 0.6), rgb(0, 0, 0.3), rgb(0, 0, 0.1), rgba(0, 0, 0, 0.6), transparent);
  clip-path: polygon(100% 0%, 50% 0%, 100% 100%);
  z-index: 10; 
  opacity: 0.5;
}

/* radial-gradient(circle at top center, ivory, #F37748, ivory) */

.overlay {
  background-color: rgba(0, 0, 0, 0.464);
}

.image {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 15px solid #191923;
  border-style: inset ridge;
  background-color: white;
  margin-top: 20px;

}

.specs {
  padding: 10px;
  margin: 5px;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  
}


.item-title {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  max-width: 75%;
  color: #191923;
  text-transform: uppercase;
}

#description {
  font-size: 0.85rem;
  font-weight: 500;
  padding-top: 5%;
}

.sidebar{
    width: 550px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-color: #fff;
    position: fixed;
    top: -100vh;
    left: 32vw;
    z-index: 1;
    transition: 0.5s;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
}
.sidebar.active{
    top: 2rem;
    z-index: 3;
}
.sd-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #e66646;
    border-radius: 10px 10px 10px 10px;
    height: 40px;
    width: 30rem;
}

.sidebar-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar-overlay.active{
    z-index: 2;
    opacity: 1;
    visibility: visible;
}
.sd-body{
  margin-top: 2em;
    padding: 10px;
    max-height: calc(100vh - 67px);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sd-body-header{
  font-size: 1.2rem;
  font-weight: 600;
}

/* HOME */

.home-wrapper {
  background-image: url('./homebg1.png');
  position: relative;
  top: -1rem;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.home-panel {
 
  position: relative;
  top: 6rem;
  height: 20rem;
  background-color: rgba(255, 255, 240, 0.8);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.intro-text {
  position: absolute;
  left: 15vw;
  width: 41%;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-justify: center;
  justify-content: center;
  color: #191923;
  /* padding-top: 2rem;
  padding-bottom: 2rem; */
} 

.intro-lines {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: smaller;
}

.intro-img {
  position: absolute;
  right: 15vw;
  width: fit-content;
  height: 24rem;
}
/* CAROUSEL */

.carousel-panel {
  position: relative;
  top: 12rem;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-bottom: 20rem;
}

.carousel-container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

/* .fade-out {
  animation: fadeOut 0.5s ease forwards; /
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease forwards; 
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
} */

.carousel-content {
  display: flex;
  transition: all 0.5s ease;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}


/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 32rem;
  z-index: 3;
  transform: translateY(-50%);
  width: 10px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.left-arrow:hover, .right-arrow:hover {
  filter: opacity(70%);
  z-index: 10;
}

.left-arrow {
  left: 30vw;
}

.right-arrow {
  right: 30vw;
}

.carousel-image-1, .carousel-image-2, .carousel-image-3 {
  height: 20rem;
  width: fit-content;
  z-index: 20;
}

.carousel-image-1-click, .carousel-image-2-click, .carousel-image-3-click {
  height: 20rem;
  width: fit-content;
  animation-name: carousel;
  animation-duration: 1.5s;
  /*animation-duration: 1.5s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite; */
  
}

.carousel-image-1-container, .carousel-image-2-container, .carousel-image-3-container {
  position: relative;
  bottom: -16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 240, 0.8);
  height: 18rem;
  /* padding: 20px; */
  padding-bottom: 100px;
  padding-top: 100px;
}

.carousel-title {
  position: absolute;
  top: 16rem;
  left: 44.5vw;
  margin-top: 2rem;
  z-index: 10;
  font-size: smaller;
  letter-spacing: 0.35rem;
  color: #191923;
}

.explore {
  font-size: 0.65rem;
  letter-spacing: 0.18rem;
  position: absolute;
  top: 43rem;
  left: 46vw;
  color: #191923;
}

.explore:hover {
  cursor: pointer;
  opacity: 60%;
}
