@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Architects+Daughter&family=Kalam&family=Macondo&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

/* olive green #6e702e */
/* burgundy #691717 */
/* neutral #e2cc88 */
/* teal #008080 */
/* bg teal #307c70 */
/* gold #7f6921 */

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;;
}

body {
  /* background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 0px, transparent 2px); */
  background-image: url('./assets/tealtrial.png');
  background-size: cover;
  background-attachment: fixed; 
  overflow-x: hidden;
}

.app {
  z-index: -5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
  padding-top: 10px;
  gap: 4rem;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 0.85rem;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px 10px 10px;
  height: 50px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  position: sticky;
  width: 100%;
  background-color: #191923;
  color: ivory;
  top: 0;
  z-index: 6;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: ivory;
}

.logo {
  position: absolute;
  left: 80px;
  margin-top: 10px;
  font-size: larger;
  font-weight: 700;
}

.nav-text {
  margin-right: 30px;
}

.nav-text:hover, #upload:hover {
  color: #CADF9E;
  cursor: pointer;
}

/* DROPDOWN */

.dropdown {
  position: absolute;
  top: 4.4rem;
  right: 2rem;
}

#profilePic {
  width: 2rem;
  border-radius: 10rem;  
  height: 2rem;
}

#profilePic:hover {
  cursor: pointer;
  border: ivory 2px solid;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

/* FORM */


.form-close {
  color: #191923;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

#upload {
  color: ivory;
  font-size: larger;
}

.form-container {
  border: 10px solid #191923;
  background-color: white;
}


.form-title, .form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #191923;
}

.form-title {
  font-size: 1.2rem;
  color: #CADF9E;
  color: #CADF9E;
  -webkit-text-stroke-width: 0.5px; 
  -webkit-text-stroke-color: #191923; 
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* FORM INPUTS */

.input-image, .dimensions, .medium, .title, .description, .width, .height, .buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  width: 75%;
  text-transform: uppercase;
  margin-right: 20px;
}

.input-field {
  margin-left: 20px;
}

/* .input-field {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
} */

#image-input {
  position: relative;
  right: -20%;
  top: 215%;
}

.buttons {
  width: 100%;
  margin-top: 10px;
}

.clear:hover, .submit:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.6);
}

.clear {
  position: relative;
  left: 60px;
  width: 30%;
  border: none; 
  text-transform: capitalize;
  background-color: white;
  border: 4px solid #191923;
  border-style: double;
  padding: 3px;
  color: #191923; 
}

.submit {
  position: relative;
  left: -65px;
  width: 30%;
  height: 30px;
  border: none;
  text-transform: capitalize;
  background-color: white;
  border: 4px solid #191923;
  border-style: double;
  padding: 3px;
  color: #191923;
}

/* PAINTING DISPLAY */

.painting-container {
  padding: 15px;
  margin: 10px;
  margin-bottom: 30px;
  width: fit-content;
  max-width: 25%;
  color: #191923;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: ivory;
  /* background-color: linear-gradient(to bottom right, transparent, rgba(255, 255, 255, 0.2)); */
  border: 6px outset #CADF9E;
  border-style: inset;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: width 2s, height 4s;
}

.app {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.item-title {
  max-width: 75%;
  /* color: #7f6921; */
  color: #191923;
 
  /* -webkit-text-stroke-width: 0.5px; 
  -webkit-text-stroke-color: #F37748;  */
}


.painting-container:hover {
  /* box-shadow: 0px 0px 20px 10px rgb(243, 119, 72, 0.6); */
  transform: scale(1.1);
  cursor: pointer;
  position: relative;
  /* background-image: radial-gradient(circle at top center, rgba(255, 255, 240, 0.815), #f37648bb, rgba(255, 255, 240, 0.821)); */
}

 /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */

/* .painting-container:hover::backdrop {
  background-image: radial-gradient(circle at top center, rgba(255, 255, 240, 0.697), #f37648a4, rgba(255, 255, 240, 0.67));
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} */

.painting-container:hover::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top center, transparent, rgba(0, 0, 0, 0.5), rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.5), transparent);
  clip-path: polygon(0% 0%, 50% 0%, 0% 100%);
  z-index: 10; 
  opacity: 0.5;
}

.painting-container:hover::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top center, transparent, rgba(0, 0, 0, 0.5), rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.5), transparent);
  clip-path: polygon(100% 0%, 50% 0%, 100% 100%);
  z-index: 10; 
  opacity: 0.5;
}

/* radial-gradient(circle at top center, ivory, #F37748, ivory) */

.image {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 15px solid #191923;
  border-style: inset ridge;
  background-color: white;
  margin-top: 20px;

}

.specs {
  padding: 10px;
  margin: 5px;
  font-weight: 600;
  font-size: 0.9rem;
}

.description {
  font-weight: 400;
  font-size: 0.9rem;
}

.item-title {
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
  text-transform: uppercase;
}

#description {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 5%;
}

.sidebar{
    width: 550px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-color: #fff;
    position: fixed;
    top: -100vh;
    left: 32vw;
    z-index: 1;
    transition: 0.5s;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
}
.sidebar.active{
    top: 2rem;
    z-index: 3;
}
.sd-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #F37748;
    border-radius: 10px 10px 10px 10px;
    height: 40px;
    width: 30rem;
}

.sidebar-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar-overlay.active{
    z-index: 2;
    opacity: 1;
    visibility: visible;
}
.sd-body{
  margin-top: 2em;
    padding: 10px;
    max-height: calc(100vh - 67px);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sd-body-header{
  font-size: 1.2rem;
  font-weight: 600;
}
